{
  "plugins": [
    "prettier-plugin-astro",
    "@alexanderniebuhr/prettier-plugin-unocss"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
